.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #F2F2F2;
  display: flex;
  position: relative;
  margin-top: 0;
  margin-bottom: 100px;
  overflow: hidden;
}