.header__link {
  margin-top: 0;
  margin-bottom: 0;
  color: #2F80ED;
  text-decoration: none;
}

.header__link:hover {
  -webkit-transition: 0.5s;
  -webkit-opacity: 0.5;
  -moz-transition: 0.5s;
  -moz-opacity: 0.5;
  -o-transition: 0.5s;
  -o-opacity: 0.5;
  -ms-transition: 0.5s;
  -ms-opacity: 0.5;
  transition: 0.5s;
  opacity: 0.5;
}