.kaufman__triangle {
  margin-top: 0;
  margin-bottom: 0;
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: contain;
  position: absolute;
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  right: -210px;
  top: 0;
}