.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #F2F2F2;
  display: flex;
  position: relative;
  margin-bottom: 100px;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  order: 1;
  left: 64px;
  width: 228px;
  height: 32px;
}

.header__title {
  display: flex;
  align-items: center;
  margin-left: 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
}

.header__subtitle {
  position: absolute;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header__link {
  color: #2F80ED;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
  max-width: 50%;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  height: 568px;
  width: 568px;
  background-color: #2F80ED;
  top: 64px;
  right: 0;
}

.description {
  margin-bottom: 100px;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 80%;
  min-width: 784px;
}

.two-columns__brief {
  width: 175px;
  color: #2F80ED;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__main-text {
  flex-basis: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.two-columns__paragraph{
  font-size: 24px;
  line-height: 34px;
  font-weight: normal;
  margin-top: 30px;
  margin-bottom: 30px;
}

.two-columns__span-accent {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.digits{
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: 1100px;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.feynman {
  height: 890px;
  background-image: url(../images/feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-color: #F2F2F2;
  background-repeat: no-repeat;
  position: relative;
  overflow: hidden;
}

.feynman__title {
  width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  margin-bottom: 70px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2F80ED;
  text-decoration: none;
}

.kaufman {
  color: white;
  background-color: #000;
  overflow: hidden;
  position: relative;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  width: 877px;
  height: 877px;
  background-repeat: no-repeat;
  right: -210px;
  z-index: 1;
  top: 0;
}

.section-title_theme_dark {
  margin-top: 90px;
  margin-bottom: 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.section-subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table_theme_dark {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  justify-content: space-between;
  z-index: 2;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-top: 80px;
  margin-right: 0;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.footer {
  background-color: #000;
  color: white;
  min-height: 350px;
  overflow: hidden;
}

.footer__columns {
  width: 90%;
  margin-top: 60px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-basis: 711px;
  flex-direction: row;
  justify-content: space-between;

}

.footer__column_content_copyright {
  flex-basis: 711px;
  flex-shrink: 1;
}

.footer__column_content_info {
  flex-shrink: 1.5;
  margin-left: auto;
  margin-right: auto;
}

.footer__column_content_social {
  margin-bottom: 16px;
  flex-shrink: 2;
  margin-left: auto;
  margin-right: auto;
}

.logo_place_footer {
  display: flex;
  background-image: url(../images/logo_place_footer.svg);
  width: 228px;
  height: 32px;
}

.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 18px;
  margin-top: 18px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.footer__list {
  list-style: none;
  position: relative;
  left: 0;
}

.footer__column-links {
  margin-bottom: 16px;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
  text-decoration: none;
}

.footer__social-icon {
  width: 16px;
  height: 16px; 
  margin-right: 10px;
}
